﻿body {
    -ms-background-size: cover;
    background-color: black;
    background-image: url("/Images/bbFieldFirst.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
    margin: 2% auto;
    overflow: scroll;
    width: 100%;
}

header, footer {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    color: antiquewhite;
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 90%;
}

#EmailLink { color: inherit; }

#EmailLink:visited { color: rgb(250, 205, 215); }

#header_text {
    border-bottom: medium solid antiquewhite;
    border-bottom-style: solid;
    font-family: serif;
    margin: 0 auto;
    width: 90%;
}

.footer_text {
    border-top: medium solid antiquewhite;
    border-top-style: solid;
    border-bottom: medium solid antiquewhite;
    border-bottom-style: solid;
    margin: 0 auto;
    width: 90%;
}

.footer_links {
    padding: 4px;
    text-decoration: none;
}

.footer_links:hover { border-bottom: antiquewhite solid thin; }

.footer_links:active { border-bottom: lime solid medium; }

#title {
    font-size: 40px;
    font-weight: bolder;
    line-height: 135%;
}

#slogan {
    font-size: 25px;
    font-style: italic;
    line-height: 115%;
    padding-top: 0;
}

#customer_form {
    margin: 0 auto;
    overflow: auto;
    padding: 20px 0;
    width: 90%;
}

.view_customer_labels {
    color: antiquewhite;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 2px;
}

.lblCustomerInfo {
    color: antiquewhite;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.view_customer_sublabels {
    color: antiquewhite;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.ddlCustomersView {
    color: black;
    font-size: 17px;
    text-align: center;
    }

#content_area {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
}

#customer_information {
    border: antiquewhite solid medium;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    width: 50%;
}

.confirmation_text_style {
    color: antiquewhite;
    font-family: Sans-Serif;
    font-size: 22px;
    text-align: center;
}

.form_buttons { background-color: antiquewhite; }

.errorMessage {
    color: tomato;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    }

#customer_selection_area {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.changeColor { color: greenyellow; }

.title_spacing { padding-bottom: 30px; }

.lbCustomerListView {
    background-color: antiquewhite;
    border: antiquewhite inset thick;
    font-size: 17px;
    font-weight: bold;
    height: 300px;
    margin-top: 10px;
    padding: 10px 10px;
    width: 85%;
}

.button_section {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
}

.border_for_section { border: azure solid medium; }

.home_page_link {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    margin: 0 auto;
    padding: 5px;
    width: 30%;
}

.home_page_link:hover {
    background-color: rgb(90, 90, 90);
    background-color: rgba(90, 90, 90, 0.6);
    color: whitesmoke;
}

.home_page_link:visited { text-decoration: none; }

.float_right {
    float: right;
    margin-right: 15%;
}

.float_left {
    float: left;
    margin-left: 15%;
}

.float_left_feedback_label {
    display: inline-block;
    margin-bottom: 20px;
    padding: 2px 5px;
    text-align: center;
    width: 130px;
}

.radio_button_section_satifactory {
    display: inline-block;
    width: 55%;
}

.radio_button_section_contact {
    display: inline-block;
    width: 30%;
}

.ibCustomerView {
    height: 100%;
    width: 100%;
}

.satisfaction_radio_buttons {
    color: antiquewhite;
    font-size: 17px;
    text-align: center;
    width: 90%;
}
#centerMenu {
    width: 90%;
    margin: 0 auto;
    height: 50px;
}

#centerSiteMap {
    margin: 0 auto;
    font-size: 1.0em;
    width: 90%;
}

#contact_us_text {
    color: antiquewhite;
    margin: 0 auto;
    width: 90%;
    font-size: 1.3em;
}

.center {
    margin: 0 auto;
}

.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.pageTitle {
    font-size: 1.2em;
}

.indent {
    margin-left: 4%;
}

.tableSection {
    width: 800px;
}

.tableCol {
    width: 200px;
}

.tableColTitleCol {
    width: 90px;
}


.tableColData {
    width: 190px;
    text-align: center;
}

.ddlLabel {
    line-height: 150%;
    color: whitesmoke;
}

.alignText {
    text-align: center;
}

.contentSection {
    width: 80%;
}

.tableTitle {
    width: 100%;
    text-align: center;
    color: antiquewhite;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 2px;
}